@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-path-border {
	position: relative;
}

.clip-path-border::before {
	content: "";
	position: absolute;
	top: -4px;
	left: -4px;
	right: -4px;
	bottom: -4px;
	border: 4px solid black;
	clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
}
